@using Wray_Tracker.Helper;
@model IEnumerable<Wray_Tracker.ViewModels.CustomUserData>

@{ ColorHelper colorHelper = new ColorHelper(); }

<div class="content-header">
    <div class="container-fluid">

    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="mx-3 mt-n2 elevation-2 bg-gradient-orange text-white">
                        <h5 class="mx-3 mt-2 mb-0">Manage User Roles</h5>
                        <p class="text-sm mx-sm-4"></p>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            @* Left column that holds the users *@
                            <div class="col">
                                <span class="text-muted">Select 1 or more Users</span>
                                @Html.ListBox("UserIds", null, new { @class = "custom-select multiple" })
                                <hr />
                                @* Right column for holding my Roles *@
                                <span class="text-muted">Select the Role to Assign</span>
                                @Html.DropDownList("RoleName", null, "-- Select Role --", new { @class = "custom-select multiple" })
                                <br />
                                <br />
                                <button type="submit" class="btn bg-gradient-navy" style="">Manage Roles</button>
                                <br />
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="mx-3 mt-n2 elevation-2 bg-gradient-navy">
                        <h5 class="mx-3 mt-2 mb-0">Available Personnel</h5>
                        <p class="text-sm mx-sm-4"></p>
                    </div>
                    <div class="card-body">
                        <table class="table table-valign-middle border-bottom">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayName("Full Name")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Email")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Role Name")
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model)
                                {
                                    <tr>
                                        <td class="@colorHelper.GetUserColorClass(user.RoleName)">
                                            @Html.DisplayFor(model => user.FullName)
                                        </td>
                                        <td class="@colorHelper.GetUserColorClass(user.RoleName)">
                                            @Html.DisplayFor(model => user.Email)
                                        </td>
                                        <td class="@colorHelper.GetUserColorClass(user.RoleName)">
                                            @Html.DisplayFor(model => user.RoleName)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>