@using Wray_Tracker.Helper;
@model IEnumerable<Wray_Tracker.ViewModels.CustomUserData>
@{
    ViewBag.Title = "Manage Roles";

}

@{ ColorHelper colorHelper = new ColorHelper(); }

<h2>@ViewBag.Title</h2>

<div class="container-fluid">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row">
            @* Left column that holds the users *@
            <div class="col">
                @Html.ListBox("UserIds", null, new { @class = "custom-select multiple" })
            </div>

            @* Right column for holding my Roles *@
            <div class="col">
                @Html.DropDownList("RoleName", null, new { @class = "custom-select multiple" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary" style="">Manage Roles</button>
            </div>
        </div>
     }

    <hr />

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Full Name")
                </th>
                <th>
                    @Html.DisplayName("Email")
                </th>
                <th>
                    @Html.DisplayName("Role Name")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td class="@colorHelper.GetUserColorClass(user.RoleName)">
                        @Html.DisplayFor(model => user.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => user.Email)
                    </td>
                    <td class="@colorHelper.GetUserColorClass(user.RoleName)">
                        @Html.DisplayFor(model => user.RoleName)
                    </td>
                </tr>
            }

        </tbody>
     </table>
</div>

