@using Wray_Tracker.Models
@model Ticket


<!-- Content Wrapper. Contains page content -->

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Ticket Dashboard</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Tickets")">Home</a></li>
                        <li class="breadcrumb-item active">Ticket Dashboard</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card card-navy">
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-ticket-alt"></i> @Html.DisplayFor(model => model.Title)</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
                        <div class="row">
                            <div class="col-12 col-sm-4">
                                <div class="info-box bg-cyan">
                                    <div class="info-box-content">
                                        <span class="info-box-number text-center text-light">Developer</span>
                                        @if (Model.Developer != null)
                                        {
                                            <span class="info-box-text text-center text-light mb-0">@Model.Developer.FullName</span>
                                        }
                                        else
                                        {
                                            <span class="info-box-text text-center text-light mb-0">@Model.DeveloperId</span>
                                        }

                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Total amount spent</span>
                                        <span class="info-box-number text-center text-muted mb-0">2000</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="info-box bg-light">
                                    <div class="info-box-content">
                                        <span class="info-box-text text-center text-muted">Estimated project duration</span>
                                        <span class="info-box-number text-center text-muted mb-0">20 </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h4>Comments</h4>
                                @foreach (var comment in Model.Comments)
                                {
                                    <div class="post">
                                        <div class="user-block">
                                            <img class="img-circle img-bordered-sm" src="~/Images/user.svg" alt="user image">
                                            <span class="username">
                                                @comment.User.FullName
                                            </span>
                                            <span class="description">
                                                @comment.Created.ToString("MMM dd, yyyy")
                                            </span>
                                        </div>

                                        <!-- /.user-block -->
                                        <div>
                                            <p>
                                                @Html.Raw(comment.Body)
                                            </p>

                                            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                                            {
                                                <div>
                                                    <button type="submit" class="btn btn-xs bg-gradient-danger">Delete</button>
                                                </div>
                                            }
                                        </div>

                                    </div>
                                }
                            </div>
                            
                            <div class="col-12">
                                
                                @if (User.Identity.IsAuthenticated)
                                {
                                    using (Html.BeginForm("Create", "TicketComments", FormMethod.Post, null))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.Hidden("TicketId", Model.Id)
                                        @Html.HiddenFor(model => model.Id)
                                    <div>
                                        <br />
                                        @Html.TextArea("CommentBody")
                                        <br />
                                        <button type="submit" class="btn btn-light bg-gradient-orange">Add Comment</button>
                                    </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
                        <h4 class="text-gray-dark"><i class="fas fa-user-alt"></i> @Html.DisplayFor(model => model.Submitter.FullName)</h4>
                        <hr />
                        <p class="text-muted">@Html.DisplayFor(model => model.Description)</p>
                        <br>
                        <div class="text-muted">
                            <p class="text-sm">
                                Ticket Creation Date
                                <b class="d-block">@Model.Created.ToString("MMM dd, yyyy")</b>
                            </p>
                        </div>

                        <h5 class="mt-5 text-muted">Attachments</h5>
                        <input type="file" class="small" name="newAttachment" /><br /><hr />
                        @foreach (var attachment in Model.Attachments)
                        {
                            <ul class="list-unstyled">
                                <li>
                                    <a target="_blank" href="@Url.Content(attachment.FilePath)" class="btn-link text-secondary"><i class="far fa-fw fa-file"></i>@attachment.FilePath</a>
                                </li>

                            </ul>
                        }

                        @using (Html.BeginForm("Create", "TicketAttachments", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("TicketId", Model.Id)
                            <div class="text-center mt-5 mb-3">

                                <button type="submit" class="btn btn-sm bg-gradient-orange">Add Files</button>

                            </div>
                        }
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>