@using Wray_Tracker.Models
@using Wray_Tracker.ViewModels
@model Ticket



<!-- Main content -->
<section class="content-header">
    <div class="container mt-2">
        <div class="row">
            <div class="col">
                <!-- Default box -->
                <div class="card">
                    <div class="mx-lg-2 mt-lg-n2 elevation-2 bg-gradient-navy text-white">
                        <h5 class="mx-3 mt-2 mb-0">Details for Ticket #@Model.Id</h5>
                        <p class="text-sm mx-sm-4">
                            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "text-white" })
                            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                            {
                               @Html.ActionLink("| Back to List", "Index", null, new { @class = "text-white" })
                            }

                        </p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="row">
                                    <div class="col">
                                        <h6 class="text-uppercase">Ticket Title</h6>
                                        <p class="text-muted">@Model.Title</p>
                                    </div>
                                    <div class="col">
                                        <h6 class="text-uppercase">Ticket Description</h6>
                                        <p class="text-muted">@Model.Description</p>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col">
                                        <h6 class="text-uppercase">Project</h6>
                                        <p class="text-muted">@Model.Project.Name</p>
                                    </div>
                                    <div class="col">
                                        <h6 class="text-uppercase">Ticket Status</h6>
                                        <p class="text-muted">@Model.TicketStatus.Name</p>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col">
                                        <h6 class="text-uppercase">Ticket Priority</h6>
                                        <p class="text-muted">@Model.TicketPriority.Name</p>
                                    </div>
                                    <div class="col">
                                        <h6 class="text-uppercase">Ticket Type</h6>
                                        <p class="text-muted">@Model.TicketType.Name</p>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col">
                                        <div class="info-box bg-light">
                                            <div class="info-box-content">
                                                <span class="info-box-number text-center text-muted">Developer</span>
                                                @if (Model.Developer != null)
                                                {
                                                    <span class="info-box-text text-center mb-0 text-muted">@Model.Developer.FullName</span>
                                                }
                                                else
                                                {
                                                    <span class="info-box-text text-center mb-0 text-muted">@Model.DeveloperId</span>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="info-box bg-light">
                                            <div class="info-box-content">
                                                <span class="info-box-number text-center text-muted">Submitter</span>
                                                <span class="info-box-text text-center text-muted mb-0">@Html.DisplayFor(model => model.Submitter.FullName)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="info-box bg-light">
                                            <div class="info-box-content">
                                                <span class="info-box-number text-center text-muted">Created</span>
                                                <span class="info-box-text text-center text-muted mb-0">@Model.Created</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="info-box bg-light">
                                            <div class="info-box-content">
                                                <span class="info-box-number text-center text-muted">Updated</span>
                                                <span class="info-box-text text-center text-muted mb-0">@Model.Updated</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <br />
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="mx-3 mt-n2 elevation-2 bg-gradient-navy">
                                                <h5 class="mx-3 mt-2 mb-0">Ticket Comments</h5>
                                                <p class="text-sm mx-sm-4">All Comments for this Ticket</p>
                                            </div>
                                            @foreach (var comment in Model.Comments)
                                            {
                                                <div class="card-body">
                                                    <div class="post">
                                                        <div class="user-block">
                                                            <img class="img-circle img-bordered-sm" src="~/Images/user.svg" alt="user image">
                                                            <span class="username">
                                                                @comment.User.FullName
                                                            </span>
                                                            <span class="description">
                                                                @comment.Created.ToString("MMM dd, yyyy")
                                                            </span>
                                                        </div>

                                                        <!-- /.user-block -->
                                                        <div>
                                                            <p>
                                                                @Html.Raw(comment.Body)
                                                            </p>
                                                            <hr />
                                                        </div>

                                                    </div>
                                                </div>
                                            }
                                            <div class="card-footer">

                                                @if (User.Identity.IsAuthenticated)
                                                {
                                                    using (Html.BeginForm("Create", "TicketComments", FormMethod.Post, null))
                                                    {
                                                        @Html.AntiForgeryToken()
                                                        @Html.Hidden("TicketId", Model.Id)
                                                        @Html.HiddenFor(model => model.Id)
                                                        <div class="input-group">
                                                            @*@Html.TextArea("CommentBody")*@
                                                            <input type="text" name="commentBody" placeholder="Type Message ..." class="form-control">
                                                            <span class="input-group-append">
                                                                <button type="submit" class="btn btn-sm bg-gradient-orange text-white">Add</button>
                                                            </span>
                                                            @*<button type="submit" class="btn btn-sm bg-gradient-orange text-white">Add Comment</button>*@
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="card">
                                            <div class="mx-3 mt-n2 elevation-2 bg-gradient-navy">
                                                <h5 class="mx-3 mt-2 mb-0">Ticket Attachments</h5>
                                                <p class="text-sm mx-sm-4">All Attachments for this Ticket</p>
                                            </div>
                                            <div class="card-body">
                                                <h5 class="text-muted">Attachments</h5>

                                                @foreach (var attachment in Model.Attachments)
                                                {
                                                    <ul class="list-unstyled">
                                                        <li>
                                                            <a target="_blank" href="@Url.Content(attachment.FilePath)" class="btn-link text-secondary"><i class="far fa-fw fa-file"></i>@attachment.FilePath</a>
                                                        </li>
                                                    </ul>
                                                }

                                                @using (Html.BeginForm("Create", "TicketAttachments", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    @Html.Hidden("TicketId", Model.Id)
                                                    <br /><hr />
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" name="newAttachment" id="customFile" />
                                                        <label class="custom-file-label" for="customFile">Choose file</label>
                                                        <button type="submit" class="btn btn-sm bg-gradient-orange text-white mt-1">Add</button>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="mx-3 mt-n2 elevation-2 bg-gradient-navy text-white">
                                                <h5 class="mx-3 mt-2 mb-0">Ticket History</h5>
                                                <p class="text-sm mx-sm-4">All History for this Ticket</p>
                                            </div>
                                            <div class="card-body">
                                                <table class="table table-valign-middle border-bottom">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                @Html.DisplayName("Changed By")
                                                            </th>
                                                            <th>
                                                                @Html.DisplayName("Property")
                                                            </th>
                                                            <th>
                                                                @Html.DisplayName("OldValue")
                                                            </th>
                                                            <th>
                                                                @Html.DisplayName("NewValue")
                                                            </th>
                                                            <th>
                                                                @Html.DisplayName("ChangedOn")
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.Histories)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.User.FullName)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.Property)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.OldValue)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.NewValue)
                                                                </td>
                                                                <td>
                                                                    @Html.DisplayFor(modelItem => item.ChangedOn)
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
