@using Wray_Tracker.Models
@model Project


<section class="content">
    <div class="container">
        <div class="row card card-navy">
            <div class="col">
                <h2 class="card-header">Assign Users</h2>
                @using (Html.BeginForm())
                {

                    @Html.AntiForgeryToken()

                    @Html.Hidden("ProjectId", (int)ViewBag.ProjectId)

                    if (User.IsInRole("Admin"))
                    {
                        <div class="row">
                            <div class="col">
                                <h4>Select Manager</h4>
                                @Html.DropDownList("ManagerId", null, "-- Select Manager --", new { @class = "custom-select" })
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col">
                                <h4>Select Submitters</h4>
                                @Html.ListBox("SubmitterIds", null, new { @class = "custom-select multiple" })
                            </div>
                            <div class="col">
                                <h4>Select Developers</h4>
                                @Html.ListBox("DeveloperIds", null, new { @class = "custom-select multiple" })
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col">
                            <button type="submit" style="margin: 10px;" class="btn btn-info">Assign</button>
                        </div>
                    </div>
                }
            </div>
        </div>

        @*<div class="card">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Full Name")
                            </th>
                            <th>
                                @Html.DisplayName("Email")
                            </th>
                            <th>
                                @Html.DisplayName("Role Name")
                            </th>
                            <th>
                                @Html.DisplayName("Projects")
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.RoleName)
                                </td>
                                <td>
                                    @foreach (var projName in item.ProjectNames)
                                    {
                                        @projName
                                        <br />
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>*@
    </div>
</section>
