@using Wray_Tracker.Helper;
@model IEnumerable<Wray_Tracker.ViewModels.CustomUserData>
@{
    ViewBag.Title = "ManageProjectAssignments";

    ColorHelper colorHelper = new ColorHelper();


}

<h2>Manage Project Assignments</h2>

<div class="container-fluid">
    <div class="row">
        @* Left Side Lists *@
        <div class="col">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="col">
                        @Html.ListBox("UserIds", null, new { @class = "custom-select multiple" })
                    </div>
                    <div class="col">
                        @Html.DropDownList("ProjectIds", null, new { @class = "custom-select multiple" })
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-outline-secondary" style="">Assign to Projects</button>
                    </div>
                </div>
            }
        </div>
        <br />
        @* Right Side Lists *@
        <div class="col">
            @using (Html.BeginForm("ManageProjectLevelUsersRemove", "Projects"))
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="col">
                        @Html.ListBox("UserIds", null, new { @class = "custom-select multiple" })
                    </div>
                    <div class="col">
                        @Html.DropDownList("ProjectIds", null, new { @class = "custom-select multiple" })
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-outline-danger" style="">Unassign from Project</button>
                    </div>
                </div>
            }
        </div>
    </div>
    <hr />

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Full Name")
                </th>
                <th>
                    @Html.DisplayName("Email")
                </th>
                <th>
                    @Html.DisplayName("Role Name")
                </th>
                <th>
                    @Html.DisplayName("Projects")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => user.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => user.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(model => user.RoleName)
                    </td>
                    <td>
                        @foreach (var projName in user.ProjectNames)
                        {
                            @projName
                            <br />
                        }
                    </td>
                </tr>
            }
        </tbody>


    </table>
</div>