@using Wray_Tracker.Models;
@using Wray_Tracker.Helper;
@model IEnumerable<TicketHistory>

    <div class="content-header">
        <div class="container-fluid">

        </div>
    </div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col mt-4">
                <div class="card">
                    <div class="mx-3 mt-n2 elevation-2 bg-gradient-navy text-white">
                        <h5 class="mx-3 mt-2 mb-0">All Ticket History</h5>
                        <p class="text-sm mx-sm-4">A View of All Ticket History</p>
                    </div>
                    <div class="card-body">
                        <table class="table table-valign-middle border-bottom">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayName("Changed By")
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Property)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.OldValue)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NewValue)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ChangedOn)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.User.FullName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Property)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OldValue)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NewValue)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ChangedOn)
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>