@using Wray_Tracker.ViewModels
@model DashboardVM


@{
    ViewBag.Title = "Dashboard";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h3 class="m-0 text-gray">Logged in as: @Model.RoleNames</h3>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
@* Admin will get to see everything *@
@if (User.IsInRole("Admin"))
{
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Info boxes -->
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box">
                        <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Projects</span>
                            <span class="info-box-number">@Model.ProjectVM.ProjectCount</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-book-open"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Tickets</span>
                            <span class="info-box-number">@Model.TicketCount</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-primary elevation-1"><i class="fas fa-users"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Managers</span>
                            <span class="info-box-number">@Model.ProjectVM.AllPMs.Count</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- fix for small devices only -->
                <div class="clearfix hidden-md-up"></div>

                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-success elevation-1"><i class="fas fa-users"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Developers</span>
                            <span class="info-box-number">@Model.ProjectVM.AllDevs.Count</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-orange elevation-1"><i class="fas fa-users text-white"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Submitters</span>
                            <span class="info-box-number">@Model.ProjectVM.AllSubs.Count</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="mx-lg-2 mt-lg-n2 elevation-2 bg-gradient-orange text-white">
                            <h5 class="mx-3 mt-2 mb-0">All Projects</h5>
                            <p class="text-sm mx-sm-4">All Projects in the Database</p>
                            @*<div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>*@
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayName("Project Name")
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var project in Model.ProjectVM.AllProjects)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => project.Name)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = project.Id }) |
                                                @Html.ActionLink("Details", "Details", new { id = project.Id }) |
                                                @Html.ActionLink("Delete", "Delete", new { id = project.Id })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <!-- ./card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                <!-- Main row -->
                <div class="row">
                    <!-- Left col -->
                    <div class="col">
                        <!-- PIE CHART 1 -->
                        <div class="card">
                            <div class="mx-lg-2 mt-lg-n2 elevation-2 bg-gradient-navy text-white">
                                <h5 class="mx-3 mt-2 mb-0">Tickets By Priority</h5>
                                <p></p>
                            </div>
                            <div class="card-body">
                                <canvas id="pieChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <div class="col">
                        <!-- PIE CHART 2 -->
                        <div class="card">
                            <div class="mx-lg-2 mt-lg-n2 elevation-2 bg-gradient-navy text-white">
                                <h5 class="mx-3 mt-2 mb-0">Tickets By Status</h5>
                                <p></p>
                            </div>
                            <div class="card-body">
                                <canvas id="pieChart2" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <div class="col">
                        <!-- PIE CHART 3 -->
                        <div class="card">
                            <div class="mx-lg-2 mt-lg-n2 elevation-2 bg-gradient-navy text-white">
                                <h5 class="mx-3 mt-2 mb-0">Tickets By Type</h5>
                                <p></p>
                            </div>
                            <div class="card-body">
                                <canvas id="pieChart3" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!--/. container-fluid -->
    </section>
    <!-- /.content -->
}

@if (User.IsInRole("Submitter") || User.IsInRole("Developer") || User.IsInRole("Manager"))
{
    // Logged in user needs to be able to see Project and Ticket tables
    // that they are currently assigned to.

    // My Projects
    <!-- Everyone will need to have access to data tables -->
    <!-- TABLE: PROJECTS -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="mx-lg-2 mt-lg-n2 elevation-2 bg-gradient-orange text-white">
                            <h4 class="card-header">My Projects</h4>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayName("Project Name")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Description")
                                            </th>
                                            @*<th>
                                                    @Html.DisplayName("Manager")
                                                </th>*@
                                            <th>
                                                @Html.DisplayName("Created")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Updated")
                                            </th>
                                            @*<th>
                                                    @Html.DisplayNameFor(model => model.IsArchived)
                                                </th>*@
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @*@{
                                                var db = new ApplicationDbContext();
                                            }*@

                                        @foreach (var item in Model.MyProjects)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Description)
                                                </td>
                                                @*<td>
                                                        @{
                                                            var pm = db.Users.Find(item.ManagerId);
                                                            var pmName = pm != null ? pm.FullName : "Unassigned";
                                                        }

                                                        @pmName
                                                    </td>*@
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Created)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Updated)
                                                </td>
                                                @*<td>
                                                        @Html.DisplayFor(modelItem => item.IsArchived)
                                                    </td>*@
                                                <td>
                                                    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                                                    {
                                                        @Html.ActionLink("Manage Members |", "ManageProjectAssignments", "Projects", new { id = item.Id }, null)

                                                        @Html.ActionLink(" Edit |", "Edit", "Projects", new { id = item.Id }, null)

                                                        @Html.ActionLink(" Project Details", "ProjectDetails", "Projects", new { id = item.Id }, null)
                                                    }

                                                    @if (User.IsInRole("Submitter"))
                                                    {
                                                        @Html.ActionLink("Create Ticket", "Create", "Tickets", new { projectId = item.Id }, null);
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                    </div>

                </div>
                <!-- /.card -->
                <!-- My Tickets -->
                <!-- Everyone will need to have access to data tables -->
                <!-- TABLE: TICKETS -->
                <div class="col-md-6">
                    <div class="card">
                        <div class="mx-lg-2 mt-lg-n2 elevation-2 bg-gradient-navy text-white">
                            <h4 class="card-header">My Tickets</h4>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayName("Developer")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Project")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Submitter")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Type")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Status")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Priority")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Title")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Description")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Created")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Updated")
                                            </th>
                                            @*<th>
                                                    @Html.DisplayNameFor(model => model.IsArchived)
                                                </th>*@
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.MyTickets)
                                        {

                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Developer.FullName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Project.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Submitter.Email)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TicketType.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Title)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Description)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Created)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Updated)
                                                </td>
                                                @*<td>
                                                        @Html.DisplayFor(modelItem => item.IsArchived)
                                                    </td>*@
                                                <td>
                                                    @Html.ActionLink("Edit", "Edit", "Tickets", new { id = item.Id }, null) |

                                                    @Html.ActionLink("Ticket Dashboard", "Dashboard", "Tickets", new { id = item.Id }, null)
                                                    @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <div class="row"></div>
        </div>
    </section>
}
@section scripts {
    <script>
        var unAuthorizedTicketAccess = '@TempData["UnAuthorizedTicketAccess"]';
        if (unAuthorizedTicketAccess != "") {
            Swal.fire({
                title: 'Unauthorized Ticket Access Detected!',
                text: unAuthorizedTicketAccess,
                icon: 'error',
                confirmButtonText: 'OK'
            })
        }
    </script>
}

